*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color:#fff;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
  
}
.card{
  border: 1px solid white;
  width: 300px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap:wrap ;
  gap: 20px;
}
.card button{
  padding: 10px 20px;
  background-color: #fff;
  color: #111;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}
.card p{
  margin: 20px 0;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}