*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color:#fff;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
  
}
.card{
  background-color: black;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;

}
.Nav{
  background-color:gray;
  margin: 10px;
  padding: 10px;
  
}
